node_modules
.venv
.git
.expo
.vscode
android/.gradle
android/app/build
android/build
ios
runs
__pycache__
*.pt
*.pth
*.onnx
*.ckpt
*.log
tempCodeRunnerFile.js
fire_backend.py
main.py
fire_detection_key.json
